# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
drc_api
drc_api.exe

# Database
database/*.sqlite
database/*.db
*.sqlite
*.db

# Env
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/

test.http